/*-- scss:rules --*/
// For actual CSS rules, including global selectors (pre, code, etc.) and custom classes

// For summary stats
.summary-card {
  margin: 1em 0;
  border: 1px solid $secondary;
  border-radius: 10px;
}
.summary-card-header {
  margin-left: 0em;
  padding-left:  1em;
  padding-top:  1em;
  padding-bottom: 0em;
  color: $gray-400;
  background-color: $light-4;
  border-radius: 10px 10px 0 0;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-family: $font-gsn-book !important;
  font-size: $font-size-base*1.25 !important;
  font-weight: normal;
}
.summary-card-container {
  padding-top: 0em;
  padding-left: 1.25em;
  color: $body-color;
  background-color: white;
  border-radius: 10px;
}

