/*-- scss:defaults --*/
// For variables like fonts, colors, sizing values

// Import fonts
// Monospace: Inconsolata
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

// Load local fonts
// Sans serif: Gill Sans Nova
@font-face {
  font-family: 'Gill Sans Nova Light';
  src: url('assets/fonts/GillSansNova/GillSansNova_Light.woff2') format('woff2'),
       url('assets/fonts/GillSansNova/GillSansNova_Light.woff') format('woff');
  //font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gill Sans Nova Book';
  src: url('assets/fonts/GillSansNova/GillSansNova_Book.woff2') format('woff2'),
       url('assets/fonts/GillSansNova/GillSansNova_Book.woff') format('woff');
  //font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gill Sans Nova Medium';
  src: url('assets/fonts/GillSansNova/GillSansNova_Medium.woff2') format('woff2'),
       url('assets/fonts/GillSansNova/GillSansNova_Medium.woff') format('woff');
  //font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gill Sans Nova SemiBold';
  src: url('assets/fonts/GillSansNova/GillSansNova_SemiBold.woff2') format('woff2'),
       url('assets/fonts/GillSansNova/GillSansNova_SemiBold.woff') format('woff');
  //font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Gill Sans Nova Bold';
  src: url('assets/fonts/GillSansNova/GillSansNova_Bold.woff2') format('woff2'),
       url('assets/fonts/GillSansNova/GillSansNova_Bold.woff') format('woff');
  //font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gill Sans Nova Heavy';
  src: url('assets/fonts/GillSansNova/GillSansNova_Heavy.woff2') format('woff2'),
       url('assets/fonts/GillSansNova/GillSansNova_Heavy.woff') format('woff');
  //font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gill Sans Nova ExtraBold';
  src: url('assets/fonts/GillSansNova/GillSansNova_ExtraBold.woff2') format('woff2'),
       url('assets/fonts/GillSansNova/GillSansNova_ExtraBold.woff') format('woff');
  //font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gill Sans Nova UltraBold';
  src: url('assets/fonts/GillSansNova/GillSansNova_UltraBold.woff2') format('woff2'),
       url('assets/fonts/GillSansNova/GillSansNova_UltraBold.woff') format('woff');
  //font-weight: 800;
  font-style: normal;
}

// Sans serif: Gill Sans Nova condensed
@font-face {
  font-family: 'Gill Sans Nova Cn Book';
  src: url('assets/fonts/GillSansNova/GillSansNova_Cn_Book.woff2') format('woff2'),
       url('assets/fonts/GillSansNova/GillSansNova_Cn_Book.woff') format('woff');
  //font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gill Sans Nova Cn Medium';
  src: url('assets/fonts/GillSansNova/GillSansNova_Cn_Medium.woff2') format('woff2'),
       url('assets/fonts/GillSansNova/GillSansNova_Cn_Medium.woff') format('woff');
  //font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gill Sans Nova Cn SemiBold';
  src: url('assets/fonts/GillSansNova/GillSansNova_Cn_SemiBold.woff2') format('woff2'),
       url('assets/fonts/GillSansNova/GillSansNova_Cn_SemiBold.woff') format('woff');
  //font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Gill Sans Nova Cn Bold';
  src: url('assets/fonts/GillSansNova/GillSansNova_Cn_Bold.woff2') format('woff2'),
       url('assets/fonts/GillSansNova/GillSansNova_Cn_Bold.woff') format('woff');
  //font-weight: 700;
  font-style: normal;
}

// Sans serif: Joanna Nova
@font-face {
  font-family: 'Joanna Nova Thin';
  src: url('assets/fonts/JoannaNova/JoannaNova_Thin.woff2') format('woff2'),
       url('assets/fonts/JoannaNova/JoannaNova_Thin.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'Joanna Nova Light';
  src: url('assets/fonts/JoannaNova/JoannaNova_Light.woff2') format('woff2'),
       url('assets/fonts/JoannaNova/JoannaNova_Light.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'Joanna Nova Regular';
  src: url('assets/fonts/JoannaNova/JoannaNova_Regular.woff2') format('woff2'),
       url('assets/fonts/JoannaNova/JoannaNova_Regular.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'Joanna Nova Book';
  src: url('assets/fonts/JoannaNova/JoannaNova_Book.woff2') format('woff2'),
       url('assets/fonts/JoannaNova/JoannaNova_Book.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'Joanna Nova Medium';
  src: url('assets/fonts/JoannaNova/JoannaNova_Medium.woff2') format('woff2'),
       url('assets/fonts/JoannaNova/JoannaNova_Medium.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'Joanna Nova Bold';
  src: url('assets/fonts/JoannaNova/JoannaNova_Bold.woff2') format('woff2'),
       url('assets/fonts/JoannaNova/JoannaNova_Bold.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'Joanna Nova ExtraBold';
  src: url('assets/fonts/JoannaNova/JoannaNova_ExtraBold.woff2') format('woff2'),
       url('assets/fonts/JoannaNova/JoannaNova_ExtraBold.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'Joanna Nova Black';
  src: url('assets/fonts/JoannaNova/JoannaNova_Black.woff2') format('woff2'),
       url('assets/fonts/JoannaNova/JoannaNova_Black.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'Joanna Nova UltraBlack';
  src: url('assets/fonts/JoannaNova/JoannaNova_UltraBlack.woff2') format('woff2'),
       url('assets/fonts/JoannaNova/JoannaNova_UltraBlack.woff') format('woff');
  font-style: normal;
}

// Handwritten: Amatic
@font-face {
    font-family: 'Amatic Regular';
    src: url('assets/fonts/Amatic/Amatic_Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Amatic Bold';
    src: url('assets/fonts/Amatic/Amatic_Bold.ttf') format('truetype');
}

// Display: Windsor
@font-face {
    font-family: 'Windsor Regular';
    src: url('assets/fonts/Windsor/Windsor_Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Windsor Bold';
    src: url('assets/fonts/Windsor/Windsor_Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Windsor UltraHeavy';
    src: url('assets/fonts/Windsor/Windsor_UltraHeavy.ttf') format('truetype');
}
@font-face {
    font-family: 'Windsor Elongated';
    src: url('assets/fonts/Windsor/Windsor_Elongated.ttf') format('truetype');
}
@font-face {
    font-family: 'Windsor Cn ExtraBold';
    src: url('assets/fonts/Windsor/Windsor_Cn_ExtraBold.ttf') format('truetype');
}

// Define font Variables
$font-gsn-light: 'Gill Sans Nova Light', sans-serif !default;
$font-gsn-book: 'Gill Sans Nova Book', sans-serif !default;
$font-gsn-medium: 'Gill Sans Nova Medium', sans-serif !default;
$font-gsn-semibold: 'Gill Sans Nova SemiBold', sans-serif !default;
$font-gsn-bold: 'Gill Sans Nova Bold', sans-serif !default;
$font-gsn-heavy: 'Gill Sans Nova Heavy', sans-serif !default;
$font-gsn-extrabold: 'Gill Sans Nova ExtraBold', sans-serif !default;
$font-gsn-ultrabold: 'Gill Sans Nova UltraBold', sans-serif !default;

$font-gsn-cn-book: 'Gill Sans Nova Cn Book', sans-serif !default;
$font-gsn-cn-medium: 'Gill Sans Nova Cn Medium', sans-serif !default;
$font-gsn-cn-semibold: 'Gill Sans Nova Cn SemiBold', sans-serif !default;
$font-gsn-cn-bold: 'Gill Sans Nova Cn Bold', sans-serif !default;

$font-jn-thin: 'Joanna Nova Thin', serif !default;
$font-jn-light: 'Joanna Nova Light', serif !default;
$font-jn-regular: 'Joanna Nova Regular', serif !default;
$font-jn-book: 'Joanna Nova Book', serif !default;
$font-jn-medium: 'Joanna Nova Medium', serif !default;
$font-jn-bold: 'Joanna Nova Bold', serif !default;
$font-jn-extrabold: 'Joanna Nova ExtraBold', serif !default;
$font-jn-black: 'Joanna Nova Black', serif !default;
$font-jn-ultrablack: 'Joanna Nova UltraBlack', serif !default;

$font-inconsolata: "Inconsolata";

$font-amatic-regular: "Amatic Regular";
$font-amatic-bold: "Amatic Bold";

$font-windsor-regular: "Windsor Regular";
$font-windsor-bold: "Windsor Bold";
$font-windsor-ultraheavy: "Windsor UltraHeavy";
$font-windsor-elongated: "Windsor Elongated";
$font-windsor-cn-extrabold: "Windsor Cn ExtraBold";

// Define font family and weight variables
$font-family-sans-serif: $font-gsn-light, sans-serif !default;
$font-family-serif: $font-jn-book, serif !default;

$font-family-monospace: $font-inconsolata, monospace !default;
$default-monospace-font-weight: 600;
$default-monospace-font-width: 100;

$font-family-code: $font-family-monospace !default;
$default-code-font-weight: $default-monospace-font-weight;
$default-code-font-width: $default-monospace-font-width;

/*-- scss:rules --*/
// For actual CSS rules, including global selectors (pre, code, etc.) and custom classes

// Global monospace elements
pre, code, kbd, samp {
  font-family: $font-family-monospace;
  font-weight: $default-monospace-font-weight;
  font-variation-settings: "wdth" $default-monospace-font-width;
  font-optical-sizing: auto;
}
