/*-- scss:defaults --*/
//  my colors  

$winslow-0:   white !default;
$winslow-1:		#f7f6f3	!default;	// light background for secondary pages
$yellow-4:  	#e4b568	!default;	
$yellow-3:  	#eaca95	!default;	
$yellow-2:  	#F7E9D2	!default;
$yellow-1:  	#fbf4e8	!default;
$orange-4:  	#DC8D5D	!default;	
$orange-3:  	#e3a47d	!default;	
$orange-2:  	#f5ddce	!default;	
$orange-1:  	#fcf4ef	!default;	
$teal-5:      #046873	!default;	
$teal-4:  	  #0595a5	!default;	
$teal-3:  	  #69bfc9	!default;	
$teal-2:  	  #b4dfe4	!default;	
$teal-1:  	  #edf7f8	!default;	
 
$text-body:   #77746F !default;
$text-h1:     #57534C !default;

$primary:	    $text-body !default;	 
$secondary:	  $text-body !default;	
$light:	      $winslow-1 !default;	
$dark:	      $text-h1 !default; 

$body-bg:	    $winslow-0;		// page background
$navbar-bg:	  $body-bg;		// navbar
$body-color:	$primary;		// page text
$navbar-fg:	  $body-color;		// navbar foreground elements
$link-color:	$primary;		// hyperlinks
$navbar-hl:	  $teal-4;		// highlight color when hover over navbar links

// Font sizes;
$font-size-base:   1rem; //!default; // Assumes the browser default, typically `16px`
$h1-font-size:     $font-size-base * 2.5 !default;
$h2-font-size:     $font-size-base * 1.5 !default;
$h3-font-size:     $font-size-base * 1.25 !default;
$h4-font-size:     $font-size-base * 1.25 !default;
$h5-font-size:     $font-size-base * 1.25 !default;
$h6-font-size:     $font-size-base !default;

$link-font-size:   $font-size-base * 0.8 !default;

$font-weight-light: 300;
$font-weight-regular: 350;
$font-weight-medium: 500;
$font-weight-bold: 700;

/*-- scss:rules --*/
body, p {
  font-family: $font-lexend;
  font-weight: $font-weight-regular;
  line-height: 1.65;
  font-size: 0.875rem;
  padding-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-h1; 
  font-family: $font-lexend;
  font-weight: $font-weight-regular;
  line-height: 1.15;
  border-bottom: none;
}

h1 {
  padding-bottom: 1rem;
}

strong {
  font-family: $font-lexend;
  font-weight: $font-weight-medium;
  color: $text-h1;
}

.special-divider {
  width: 7%;
  height: 4px;
  background-color: $teal-1;
  border: none;
  margin: 3rem 0;
}

@mixin highlight-offset($highlight-color, $text-color, $font-weight) {
  background: linear-gradient(to top, $highlight-color 40%, transparent 40%);
  font-family: $font-lexend;
  font-weight: $font-weight;
  display: inline;
  color: $text-color;
  padding: 0 0.25em;
  margin: 0 -0.25em;
}

.highlight-offset {
  @include highlight-offset($teal-2, $text-h1, 400);
}

.highlight-offset-alt {
  @include highlight-offset($teal-1, $teal-4, 400);
}

.littleheader {
  text-transform: uppercase;
  color: $orange-4;
  font-family: $font-lexend;
  font-weight: $font-weight-regular;
  font-size: 1rem;
  letter-spacing: 0.03rem;
}

// For cards  
.card-contact {
    background-color: $yellow-1;
    color: $yellow-4; 
    letter-spacing: 0.01rem;
    padding: 0.8rem 1.6rem 0.8rem 1.6rem !important;
    margin: 0;
    border-radius: 40px; 
    display: inline-block;
    text-decoration: none;  
    font-size: 1rem;
    cursor: pointer;
}

// Page and background colors
body {
    background-color: $body-bg;  
}
.navbar {
    background-color: $body-bg;  
    .navbar-brand, 
    .navbar-nav 
    .nav-link {
        color: $primary;
    }
}
.page-footer, .nav-footer {
    background-color: $body-bg; 
    color: #9a9894;

}

// Header and footer
.navbar-brand img { 
  max-height: 30px;
  width: auto;
}


