/*-- scss:defaults --*/
//  my colors  
// 
$winslow-0:   #f9f9f9 !default;
$winslow-1:		#FAFAF8	!default;	// light background for secondary pages
$winslow-2:		#F0EFE9	!default;	// background for primary pages
$winslow-3:		#E6E5DF	!default;	// darkest box for $winslow-2
$yellow-1:  	#D6AF90	!default;	
$yellow-2:  	#ECDABC	!default;	
$yellow-3:  	#F1E6D1	!default;	// light box on $yellow-2
$orange-1:  	#CB785C	!default;	
$orange-2:  	#D18D71	!default;	
$orange-3:  	#D59F8C	!default;	
$orange-4:  	#D9A897	!default;	
$seastar:   	#BA5F06	!default;	// logo color
$text-body:	  #403C2C	!default;	// 1rem ok
$text-h1:	    #83827A	!default;	// 2rem on $winslow-2
$text-h2:	    #6F6D5F	!default;	// 1.5rem on $winslow-2
$text-h3:   	#555247	!default;	// 1.5rem on $winslow-2

$text-dark-1:	#21201d	!default;	// 1rem ok on $orange-3
$text-dark-2:	#4B473F	!default;	// logo font color

$primary:	    #4b4843	!default;	// 1rem ok
$secondary:	  #A5A39A	!default;	
$light:	      $winslow-1 !default;	
$dark:	      $text-dark-1 !default; 

$body-bg:	    $winslow-1;		// page background
$navbar-bg:	  $body-bg;		// navbar
$body-color:	$primary;		// page text
$navbar-fg:	  $body-color;		// navbar foreground elements
$link-color:	$primary;		// hyperlinks
$navbar-hl:	  $seastar;		// highlight color when hover over navbar links

// Font sizes;
$font-size-base:   1rem; //!default; // Assumes the browser default, typically `16px`
$h1-font-size:     $font-size-base * 3 !default;
$h2-font-size:     $font-size-base * 2.5 !default;
$h3-font-size:     $font-size-base * 1.75 !default;
$h4-font-size:     $font-size-base * 1.25 !default;
$h5-font-size:     $font-size-base * 1.25 !default;
$h6-font-size:     $font-size-base !default;

$link-font-size:   $font-size-base * 0.8 !default;
$p135-font-size:  $font-size-base * 1.35 !default;
$p125-font-size:  $font-size-base * 1.25 !default;
$p115-font-size:  $font-size-base * 1.15 !default;

/*-- scss:rules --*/

h1, h2, h3 {
  color: $primary;
  font-family: $font-windsor-regular;
  letter-spacing: 0.02em;
  line-height: 1;
}
h1 {
  color: $text-h3;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-bottom: none;
}
h2 {
  color: $text-h2;
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-bottom: none;
}

strong {
  font-family: $font-gsn-medium;
  color: $text-h2;
}

p {
  padding-bottom: 0.25rem;
}

.p135-font {
  font-family: $font-gsn-book;
  font-size: 1.35rem;
  color: $text-h2;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.p135-tight-font {
  font-family: $font-gsn-book;
  font-size: 1.5rem;
  color: $text-h2;
  line-height: 0.95;
  margin: 0 !important;
}

// colors
.seastar {color: $seastar}
.dark {color: $dark}

// Page and background colors
// Required colors: 
//  $primary
//  $light
//  $body-bg: page background

// Default styles (for primary pages)
body {
    background-color: $body-bg;  
}
.navbar {
    background-color: $body-bg;  
    .navbar-brand, .navbar-nav .nav-link {
        color: $primary; // Or your default navbar text color
    }
}
.page-footer, .nav-footer {
    background-color: $body-bg; 

}

// Secondary page styles
body.light-page {
  
    background-color: $light; 
    .navbar {
        background-color: $light;
        .navbar-brand, .navbar-nav .nav-link {
            color: $primary; // Use a contrasting color
        }
    }
    .page-footer {
        background-color: $light
    }
    .nav-footer {
        background-color: $light;
    }
}

.full-width {
    background-color: $body-bg;
    width: 100vw; /* Use 100% of the viewport width */
    margin-left: calc(-50vw + 50%); /* Offset to break out of the container */
    margin-right: calc(-50vw + 50%);
    padding: 3rem 0; /* Vertical padding */
}
.full-width .bg-light {
    background-color: $light; /* Light background */
}
.full-width-content {
  margin: 0 auto; 

  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}

// Header and footer
body.secondary-page {
  .navbar { //Target the navbar directly
      background-color: $light;
      .navbar-brand, .navbar-nav .nav-link {
        color: $primary; // Example: white text for contrast
    }
  }
  .page-footer { // Target the footer directly
    background-color: $light;
  }
  .body {
    background-color: $light;
  }
}

.navbar-brand img { 
  max-height: 30px;
  width: auto;
}

// For cards on website
.card-light {
  background-color: $light;
  border: none;
  //border-radius: 9px; 
  padding: 0px 1rem 0px 1rem !important;
}
.card-dark {
  background-color: $winslow-2;
  border: none;
  //border-radius: 9px; 
  padding: 0px 1rem 0px 1rem !important;
}
.card-body {
  display: flex !important; /* Flexbox for centering */
  height: 100%; /* Ensure the card body takes full height */
  align-items: center !important; /* Center vertically */
  justify-content: center !important; /* Center horizontally */
  text-align: center; /* Center-align text */
}
.card-contact {
    background-color: $orange-4;
    color: $text-body; 
    letter-spacing: 0.1em;
    padding: 0.8rem 1.6rem 0.8rem 1.6rem !important;
    margin: 0;
    border-radius: 9px; 
    display: inline-block;
    text-decoration: none;  
    font-size: 1.35rem;
    font-family: $font-gsn-cn-semibold;
    cursor: pointer;
}

