/*-- scss:defaults --*/
//  my colors  

$winslow-0:   white !default;
$winslow-1:		#f7f6f3	!default;	// light background for secondary pages
$winslow-2:		#F0EFE9	!default;	// background for primary pages
$winslow-3:		#E6E5DF	!default;	// darkest box for $winslow-2
$yellow-1:  	#e4b568	!default;	
$yellow-2:  	#eaca95	!default;	
$yellow-3:  	#F7E9D2	!default;
$yellow-4:  	#fbf4e8	!default;
$orange-1:  	#D4845C	!default;	
$orange-2:  	#E2A98D	!default;	
$orange-3:  	#EECFBE	!default;	
$orange-4:  	#FBF3F0	!default;	
$teal-1:  	  #5A9C9E	!default;	
$teal-2:  	  #8CBABB	!default;	
$teal-3:  	  #CEE1E2	!default;	
$teal-4:  	  #EFF5F5	!default;	
 
$text-body:   #57534CAB !default;
$text-h1:     #57534C !default;
$text-h2:     $text-h1 !default;
$text-h3:     $text-h1 !default;

$text-dark-1:	#21201d	!default;	 
$text-dark-2:	#4B473F	!default;	 
$seastar: $orange-1;

$primary:	    $text-body;	 
$secondary:	  #A5A39A	!default;	
$light:	      $winslow-1 !default;	
$dark:	      $text-dark-1 !default; 

$body-bg:	    $winslow-0;		// page background
$navbar-bg:	  $body-bg;		// navbar
$body-color:	$primary;		// page text
$navbar-fg:	  $body-color;		// navbar foreground elements
$link-color:	$primary;		// hyperlinks
$navbar-hl:	  $seastar;		// highlight color when hover over navbar links

// Font sizes;
$font-size-base:   1rem; //!default; // Assumes the browser default, typically `16px`
$h1-font-size:     $font-size-base * 3 !default;
$h2-font-size:     $font-size-base * 2.5 !default;
$h3-font-size:     $font-size-base * 1.75 !default;
$h4-font-size:     $font-size-base * 1.25 !default;
$h5-font-size:     $font-size-base * 1.25 !default;
$h6-font-size:     $font-size-base !default;

$link-font-size:   $font-size-base * 0.8 !default;
$p135-font-size:  $font-size-base * 1.35 !default;
$p125-font-size:  $font-size-base * 1.25 !default;
$p115-font-size:  $font-size-base * 1.15 !default;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

/*-- scss:rules --*/
body, p {
  font-family: $font-lexend;
  font-weight: $font-weight-regular;
  line-height: 1.65;
  font-size: 0.875rem;
  padding-bottom: 0.25rem;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-h1; 
  font-family: $font-lexend;
  font-weight: $font-weight-regular;
  line-height: 1.15;
  border-bottom: none;
}

strong {
  font-family: $font-lexend;
  font-weight: $font-weight-bold;
  color: $text-h2;
}

// colors
.seastar {color: $seastar}
.dark {color: $dark}

.special-divider {
  width: 10%;
  height: 3px;
  background-color: $teal-4;
  border: none;
  margin: 3rem 0;
}


.highlight-offset {
  background: linear-gradient(to top, $teal-3 40%, transparent 40%);
  display: inline-block;
  padding: 0 0.25em; /* space to the left & right */
  margin: 0 -0.25em; /* pull the text back so spacing stays natural */
}

.highlight-offset-2 {
  background: linear-gradient(to top, $teal-4 40%, transparent 40%);
  display: inline-block;
  padding: 0 0.25em; /* space to the left & right */
  margin: 0 -0.25em; /* pull the text back so spacing stays natural */
}

.littleheader {
  text-transform: uppercase;
  color: $orange-1;
  font-family: $font-lexend;
  font-weight: $font-weight-regular;
  font-size: 1rem;
  letter-spacing: 0.03rem;
}


// Page and background colors
// Default styles (for primary pages)
body {
    background-color: $body-bg;  
}
.navbar {
    background-color: $body-bg;  
    .navbar-brand, 
    .navbar-nav 
    .nav-link {
        color: $primary;
    }
}
.page-footer, .nav-footer {
    background-color: $body-bg; 

}

// Secondary page styles
body.light-page {
  
    background-color: $light; 
    .navbar {
        background-color: $light;
        .navbar-brand, 
        .navbar-nav 
        .nav-link {
            color: $primary; // Use a contrasting color
        }
    }
    .page-footer {
        background-color: $light
    }
    .nav-footer {
        background-color: $light;
    }
}

.full-width {
    background-color: $body-bg;
    width: 100vw; /* Use 100% of the viewport width */
    margin-left: calc(-50vw + 50%); /* Offset to break out of the container */
    margin-right: calc(-50vw + 50%);
    padding: 3rem 0; /* Vertical padding */
}
.full-width .bg-light {
    background-color: $light; /* Light background */
}
.full-width-content {
  margin: 0 auto; 

  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}

// Header and footer
body.secondary-page {
  .navbar { //Target the navbar directly
      background-color: $light;
      .navbar-brand, 
      .navbar-nav 
      .nav-link {
        color: $primary; // Example: white text for contrast
    }
  }
  .page-footer { // Target the footer directly
    background-color: $light;
  }
  .body {
    background-color: $light;
  }
}

.navbar-brand img { 
  max-height: 30px;
  width: auto;
}

// For cards on website
.card-light {
  background-color: $body-bg;
  border: none;
  //border-radius: 9px; 
  padding: 0px 1rem 0px 1rem !important;
}
.card-dark {
  background-color: $winslow-2;
  border: none;
  //border-radius: 9px; 
  padding: 0px 1rem 0px 1rem !important;
}
.card-body {
  display: flex !important; /* Flexbox for centering */
  height: 100%; /* Ensure the card body takes full height */
  align-items: center !important; /* Center vertically */
  justify-content: center !important; /* Center horizontally */
  text-align: center; /* Center-align text */
}
.card-contact {
    background-color: $yellow-4;
    color: $yellow-1; 
    letter-spacing: 0.01rem;
    padding: 0.8rem 1.6rem 0.8rem 1.6rem !important;
    margin: 0;
    border-radius: 40px; 
    display: inline-block;
    text-decoration: none;  
    font-size: 1rem;
    cursor: pointer;
}

